<!--<header class="header header-6">-->
  <!--<div class="branding">-->
    <!--<span class="title">{{customer?.title}}</span>-->
  <!--</div>-->
<!--</header>-->
<div class="row"></div><br><br>
<div class="row">
  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
  </div>

  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <div class="card clickable" (click)="wizardxl.open()">
      <div class="card-block">
        <h3 class="card-title">Fortune Fund</h3>
        <p class="card-text">
        </p>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <div class="card clickable">
      <div class="card-block">
        <h3 class="card-title">Private Wealth</h3>
        <div class="card-text">
          <!--<app-investments></app-investments>-->
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
  </div>

</div>
<div class="row">
  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <!--<div class="card">-->
      <!--<div class="card-block">-->
        <!--<h3 class="card-title">1</h3>-->
        <!--<div class="card-text">-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>

  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Brokerage</h3>
        <p class="card-text">
        </p>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Midas</h3>
        <div class="card-text">
          <!--<app-investments></app-investments>-->
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <!--<div class="card">-->
      <!--<div class="card-block">-->
        <!--<h3 class="card-title">4</h3>-->
        <!--<p class="card-text">-->
        <!--</p>-->
      <!--</div>-->
    <!--</div>-->
  </div>

</div>

<clr-wizard #wizardxl [(clrWizardOpen)]="xlOpen" >
  <clr-wizard-title>{{accountype}}</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

  <clr-wizard-page>
    <ng-template clrPageTitle>Personal Details </ng-template>
    <div class="row">
      <div class="col-lg-6">
        <form clrForm>
          <clr-input-container>
            <label>Field 1 label</label>
            <input clrInput type="text" [(ngModel)]="model" name="example" />
          </clr-input-container>
          <clr-input-container>
            <label>Field 2 label</label>
            <input clrInput type="text" [(ngModel)]="model" name="example" />
          </clr-input-container>
        </form>
      </div>
      <div class="col-lg-6">2</div>
    </div>
  </clr-wizard-page>


  <clr-wizard-page>
    <ng-template clrPageTitle>Beneficiary Details</ng-template>
    ...
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>Risk Assessment</ng-template>
    ...
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>Notification System</ng-template>
    ...
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>Uploads</ng-template>
    ...
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>Summary</ng-template>
    ...
  </clr-wizard-page>
</clr-wizard>



<router-outlet></router-outlet>
