<div class="cushero">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-img">
          <!--<img src="/assets/images/cus.hero.png">-->
        </div>
        <div class="card-block">
          <h3 class="card-title">Open Account with SAS</h3>
          <div class="card-text">
            <p>Lorem ipsum dolor sit amet, sit ex vide intellegat omittantur, mel sonet appetere an, graeci option scriptorem nam in. Et dissentias referrentur efficiantur pri. Ut tractatos interpretaris eos. Assum inermis contentiones in eos. Ius eu probatus sensibus. Porro idque ea nec.</p>
          </div>
        </div>
      </div>
    </div>
  </div><!--/customer hero page -->

</div><br><br>

<div class="row">
  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <!---->
  </div>

  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <a routerLink="/forms" class="card clickable">
      <div class="card-block">
        <h3 class="card-title">Individual Account</h3>
        <div class="card-text">
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <a routerLink="/forms" class="card clickable">
      <div class="card-block">
        <h3 class="card-title">Joint Account</h3>
        <p class="card-text">
        </p>
      </div>
    </a>
  </div>

  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <!---->
  </div>
</div>
<!--/ Customer Account type-->
